<section class="section-navigation pad-bottom-2">
  <%= link_to '', navigation[:back], class: 'fa fa-2x fa-arrow-left pad-right-4', title: t('label.back') if navigation[:back] %>
  <%= link_to '', navigation[:show], class: 'fa fa-2x fa-info-circle pad-right-4', title: t('label.show') if navigation[:show] %>
  <%= link_to '', navigation[:edit], class: 'fa fa-2x fa-pencil-square', title: t('label.edit') if navigation[:edit] %>
</section>
