<section class="section section-header">
  <section class="grid-header container grid-960">
    <nav class="navbar">
      <section class="navbar-section">
        <a href="<%= root_path %>" class="navbar-brand mr-10">MACSEL</a>
        <a href="<%= firms_path %>" class="btn btn-link">Empresas</a>
        <a href="<%=  new_user_registration_path %>" class="btn btn-link">Registrarse</a>
        <a href="<%=  new_user_session_path %>" class="btn btn-link">Login</a>
      </section>

      <section class="navbar-section">
        <div class="input-group input-inline">
          <input class="form-input" type="text" placeholder="Buscar" />
          <button class="btn btn-primary input-group-btn">Buscar</button>
        </div>
      </section>
    </nav>
  </section>
</section>