<div class="section section-title">
  <% if @information %>
    <h1 class="section-title__header">
      <%= @information[:title] %>
    </h1>
    <% if @information[:subtitle] %>
      <h2 class="section-title__header-subtitle">
        <%= @information[:subtitle] %>
      </h2>
    <% end %>
  <% end %>

  <div class="input-group input-inline section-title__search">
    <input class="form-input" type="text" placeholder="Buscar" />
    <button class="btn btn-primary input-group-btn fa fa-2x fa-search"></button>
  </div>
</div>
