<!--New form for prices here-->
<div class="modal" data-modal="trade-price-<%= trade.id %>">
  <div class="modal-overlay"></div>
  <div class="modal-container">
    <div class="modal-header">
      <button class="btn btn-clear float-right" data-modal-close="true"></button>
      <div class="modal-title"><%= t('view.prices.modal.new_title', product: trade.product.name) %></div>
    </div>
    <div class="modal-body">
      <div class="content">
        <% price = trade.prices.new %>
        <%if @modal_errors %>
          <% @modal_errors["trade_id_#{trade.id}"].try(:each) do |key, value|%>
            <% price.errors.add(key, value.join(', ') ) if value %>
          <% end %>
        <% end %>

        <%= render 'prices/new', trade: trade, price: price, origin: origin %>
      </div>
    </div>
  </div>
</div>