@import "_mixins";
@import "_variables";

@font-face {
  font-family: 'PTSansBold';
  src: url($ptSansBold);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans';
  src: url($ptSans);
  font-weight: normal;
  font-style: normal;
}

.section.section-header {
  @include background-gradient($red-a800, $red-900, right);

  border-radius: 0 15px 0 0;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, .5);
  color: #ffffff;
  display: flex;
  font-family: PTSansBold;
  margin-right: 50px;
  text-shadow: 0 0 25px #ff002f;

  &:after {
    background-image: radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, $red-a800 15px);
    content: '';
    height: 15px;
    position: absolute;
    right: 35px;
    top: 28px;
    width: 15px;
  }

  .btn.btn-link {
    color: white;
    font-weight: 700;
    transition: $transition-200;
  }
  .btn.btn-link:hover {
    border: 1px solid white;
    color: $red-400;
  }

  .navbar {
    .navbar-brand {
      color: white;
      font-size: 3rem;
      font-stretch: semi-expanded;
      font-weight: 700;
      transition: $transition-200;

      &:hover, &:active {
        color: $red-100;
      }
    }

    .navbar-section--primary {
      justify-content: flex-start;
    }
    .navbar-section--secondary {
      justify-content: flex-end;
    }
  }
}

.section.section-title {
  @include background-gradient($red-a800, $red-900, right);

  border-radius: 0 0 0 15px;
  color: #ffffff;
  margin-left: 50px;
  padding: 1px 30px;
  font-family: PTSansBold;
  text-shadow: 0px 0px 25px #ff002f;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: space-between;

  &:before {
    background-image: radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, $red-900 15px);
    content: '';
    height: 15px;
    position: absolute;
    left: 35px;
    top: 42px;
    width: 15px;
  }

  .section-title__header{
    display: inline-flex;
    margin-bottom: 5px;
  }

  .section-title__header-subtitle {
    display: inline-flex;
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 0;
  }

.section-title__search {
    margin-top: 17px;
  }
}

.section.section-notices {
  .label {
    float: right;
    font-size: 1em;
    font-weight: bolder;
    padding: 10px;
    width: 50%;
  }
}
