@import "_variables";

.products-list__banner {
  width: 100%;
  height: 15px;
  text-align: center;
  box-sizing: border-box;
  //overflow: hidden;
  position: relative;
  margin: 0;

  img {
    display: block;
    width: 40%;
    height: auto;
    margin: auto;
  }
}

.products-list__header {
  border-top: 2px solid $grey-600;

  input {
    width: 50%;
    border: none;
    background: none;
  }
}

.products-list__header__date {
  text-align: right;
  width: 100%;

  input {
    text-align: right;
  }
}

.products-list__list__price {
  text-align: right;
}

.watermark-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 4cm;
  opacity: 0.3;
  z-index: -2;
}

.watermark-container__image {
  width: 100%;
  height: 20cm;

  background-image: asset_data_url('logo_full.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
