@import "_variables";

// Margins and paddings
$variations: all top right left bottom;
@each $variation in $variations {
  @for $i from 0 through 6 {
    $value: $unit * $i;

    .pad-#{$variation}-#{$i} {
      @if $variation == all {
        padding: $value;
      }
      @else {
        padding-#{$variation}: $value;
      }
    }

    .mar-#{$variation}-#{$i} {
      @if $variation == all {
        margin: $value;
      }
      @else {
        margin-#{$variation}: $value;
      }
    }
  }
}

.hidden {
  display: none;
}