<!doctype html>
<html>
  <head>
    <title><%= @information[:file_title] || t('app_name') %></title>

    <meta charset="utf-8" />

    <%= wicked_pdf_stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="pdf">
    <%= yield %>
  </body>
</html>
